<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/style.css">

    <script src="/game.js"></script>
</head>
<body>
    <div class="container">
    <h1>Tic Tac Toe</h1>
    <h3>Start the game clicking on the empty cell</h3>
    <div class="message bg-success"></div>
        <a class="btn btn-default" href="/" role="button">Reload</a>
    <div class="game">
        <div class="row">
            <div class="cell col-md-4 show-grid" data-coords = '0-0'></div>
            <div class="cell col-md-4 show-grid" data-coords = '0-1'></div>
            <div class="cell col-md-4 show-grid" data-coords = '0-2'></div>
        </div>
        <div class="row">
            <div class="cell col-md-4 show-grid" data-coords = '1-0'></div>
            <div class="cell col-md-4 show-grid" data-coords = '1-1'></div>
            <div class="cell col-md-4 show-grid" data-coords = '1-2'></div>
        </div>
        <div class="row">
            <div class="cell col-md-4 show-grid" data-coords = '2-0'></div>
            <div class="cell col-md-4 show-grid" data-coords = '2-1'></div>
            <div class="cell col-md-4 show-grid" data-coords = '2-2'></div>
        </div>
    </div>
    </div>
</body>
</html>